## Parte 2 do TCC - Juliana Lemos Martins Casagrande

#### 3.1. Leitura dos arquivos gerados no notebook anterior

In [1]:
# Importação das bibliotecas necessárias.

import os
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Exibe os números com dois pontos decimais, ponto como separador de decimal
# e vírgula como separador de milhar, sem notação científica.
pd.options.display.float_format = '{:,.2f}'.format

# Indicação do caminho do diretório de trabalho.
os.chdir('D:/TCC2024')

Os arquivos "train2.csv" e "test2.csv" foram criados a partir do arquivo "doapibmun" gerado no notebook anterior.
O arquivo "doapibmun" estava ordenado por ano, então, como se trata de uma série temporal, optamos por dividir a base de treinamento com os dados até 2021, e a base de testes com os dados de 2022.

In [2]:
# Leitura do arquivo com os dados das doações

train = pd.read_csv('train2.csv', sep=';')
test = pd.read_csv('test2.csv', sep = ';')

#### 3.2. Utilização do pacote Pycaret

In [4]:
test

,anomun,ano,mun,doacao,PIB
0,2022 - CRUZEIRO DO SUL - AC,2022,CRUZEIRO DO SUL - AC,7200,23025776550
1,2022 - ARAPIRACA - AL,2022,ARAPIRACA - AL,820000,66169766530
2,2022 - CAMPO ALEGRE - AL,2022,CAMPO ALEGRE - AL,25000,8217037880
3,2022 - MACEIO - AL,2022,MACEIO - AL,97166129,307408718960
4,2022 - MARECHAL DEODORO - AL,2022,MARECHAL DEODORO - AL,225000,38135067355
...,...,...,...,...,...
914,2022 - LOUVEIRA - SP,2022,LOUVEIRA - SP,500000,220088933935
915,2022 - MOGI MIRIM - SP,2022,MOGI MIRIM - SP,1367020,70617213340
916,2022 - SAO PAULO - SP,2022,SAO PAULO - SP,468833228,9272148100480
917,2022 - TABOAO DA SERRA - SP,2022,TABOAO DA SERRA - SP,16811574,115105640320
918,2022 - TAUBATE - SP,2022,TAUBATE - SP,1434042,181196843410

In [5]:
# Importa o módulo de regressão
from pycaret.regression import *

In [14]:
# Inicializa o setup
s = setup(data = train, test_data = test, target = 'doacao', index=False, fold_strategy = 'timeseries', data_split_shuffle=False, data_split_stratify=False, numeric_features = ['PIB'], fold = 3,\
          transform_target = True, session_id = 123)

In [15]:
best = compare_models(sort = 'MAE')

Para estabelecer um valor para o PIB (feature) de 2023, foram utilizados os PIBs do 1º ao 3º trimestre, já calculados pelo IBGE. O PIB do 4º trimestre foi estimado utilizando o mesmo aumento ocorrido entre o 3º e o 4º trimestres de 2022.

**PIB 3T 2022 (A)**:	2.601.182

**PIB 4T 2022 (B)**: 2.641.485

**(B)/(A)**:  	1,015494183
**PIB 1T 2023**: 2.582.706
**
PIB 2T 202**: 2.701.1053**

PIB 3T 20**2 :	2.740.961**

PIB 4T 20**23: 2.740.961 * 1,015494183 = 2.783.430**

PIB 20**232.582.706 + 2.701.105 + 2.740.961 + 2.783.430 = 10.808.202

**Crescimento em relação ao PIB de 2022**: 10.808.202 / 10.079.677 = 1,072276622
<br>
<br>
83
Para estabelecer valores para o PIB de 2024 e de 2025, foram utilizados os percentuais de crescimento previstos pelo FMI; respectivamente, 1,7% e 1,9%. Fonte: https://www.imf.org/en/Publications/WEO/Issues/2024/01/30/world-economic-outlook-update-january-2024.

In [8]:
# Cria dataset para as previsões de 2023
prev1 = test[['anomun','ano','mun','PIB']]
prev1['PIB']=prev1['PIB']*1.072276622
prev1['anomun'] = prev1['anomun'].str.replace('2022','2023')
prev1['ano']=2023
prev1

,anomun,ano,mun,PIB
0,2023 - CRUZEIRO DO SUL - AC,2023,CRUZEIRO DO SUL - AC,"24,690,001,897.96"
1,2023 - ARAPIRACA - AL,2023,ARAPIRACA - AL,"70,952,293,733.32"
2,2023 - CAMPO ALEGRE - AL,2023,CAMPO ALEGRE - AL,"8,810,937,620.81"
3,2023 - MACEIO - AL,2023,MACEIO - AL,"329,627,182,739.78"
4,2023 - MARECHAL DEODORO - AL,2023,MARECHAL DEODORO - AL,"40,891,341,203.16"
...,...,...,...,...
914,2023 - LOUVEIRA - SP,2023,LOUVEIRA - SP,"235,996,218,619.40"
915,2023 - MOGI MIRIM - SP,2023,MOGI MIRIM - SP,"75,721,186,975.27"
916,2023 - SAO PAULO - SP,2023,SAO PAULO - SP,"9,942,307,643,866.41"
917,2023 - TABOAO DA SERRA - SP,2023,TABOAO DA SERRA - SP,"123,425,087,175.48"
918,2023 - TAUBATE - SP,2023,TAUBATE - SP,"194,293,139,168.74"

In [9]:
# Cria dataset para as previsões de 2024
prev2 = test[['anomun','ano','mun','PIB']]
prev2['PIB']=prev2['PIB']*1.017*1.072276622
prev2['anomun'] = prev2['anomun'].str.replace('2022','2024')
prev2['ano']=2024
prev2

,anomun,ano,mun,PIB
0,2024 - CRUZEIRO DO SUL - AC,2024,CRUZEIRO DO SUL - AC,"25,109,731,930.23"
1,2024 - ARAPIRACA - AL,2024,ARAPIRACA - AL,"72,158,482,726.78"
2,2024 - CAMPO ALEGRE - AL,2024,CAMPO ALEGRE - AL,"8,960,723,560.37"
3,2024 - MACEIO - AL,2024,MACEIO - AL,"335,230,844,846.35"
4,2024 - MARECHAL DEODORO - AL,2024,MARECHAL DEODORO - AL,"41,586,494,003.62"
...,...,...,...,...
914,2024 - LOUVEIRA - SP,2024,LOUVEIRA - SP,"240,008,154,335.93"
915,2024 - MOGI MIRIM - SP,2024,MOGI MIRIM - SP,"77,008,447,153.85"
916,2024 - SAO PAULO - SP,2024,SAO PAULO - SP,"10,111,326,873,812.14"
917,2024 - TABOAO DA SERRA - SP,2024,TABOAO DA SERRA - SP,"125,523,313,657.46"
918,2024 - TAUBATE - SP,2024,TAUBATE - SP,"197,596,122,534.61"

In [10]:
# Cria dataset para as previsões de 2025
prev3 = test[['anomun','ano','mun','PIB']]
prev3['PIB']=prev3['PIB']*1.019*1.017*1.072276622
prev3['anomun'] = prev3['anomun'].str.replace('2022','2025')
prev3['ano']=2025
prev3

,anomun,ano,mun,PIB
0,2025 - CRUZEIRO DO SUL - AC,2025,CRUZEIRO DO SUL - AC,"25,586,816,836.90"
1,2025 - ARAPIRACA - AL,2025,ARAPIRACA - AL,"73,529,493,898.59"
2,2025 - CAMPO ALEGRE - AL,2025,CAMPO ALEGRE - AL,"9,130,977,308.01"
3,2025 - MACEIO - AL,2025,MACEIO - AL,"341,600,230,898.43"
4,2025 - MARECHAL DEODORO - AL,2025,MARECHAL DEODORO - AL,"42,376,637,389.68"
...,...,...,...,...
914,2025 - LOUVEIRA - SP,2025,LOUVEIRA - SP,"244,568,309,268.32"
915,2025 - MOGI MIRIM - SP,2025,MOGI MIRIM - SP,"78,471,607,649.77"
916,2025 - SAO PAULO - SP,2025,SAO PAULO - SP,"10,303,442,084,414.57"
917,2025 - TABOAO DA SERRA - SP,2025,TABOAO DA SERRA - SP,"127,908,256,616.95"
918,2025 - TAUBATE - SP,2025,TAUBATE - SP,"201,350,448,862.76"

In [11]:
# Concatena os 3 datasets verticalmente
prev = pd.concat([prev1,prev2,prev3],ignore_index=True)

In [19]:
predicao = predict_model(best, data=prev)
predicao.rename(columns={'anomun':'anomun','ano':'ano','mun':'mun','PIB':'PIB','prediction_label':'doacao'}, inplace=True)
predicao.head()

,anomun,ano,mun,PIB,doacao
0,2023 - CRUZEIRO DO SUL - AC,2023,CRUZEIRO DO SUL - AC,"24,690,001,920.00","2,062,957.52"
1,2023 - ARAPIRACA - AL,2023,ARAPIRACA - AL,"70,952,296,448.00","7,881,828.18"
2,2023 - CAMPO ALEGRE - AL,2023,CAMPO ALEGRE - AL,"8,810,937,344.00","22,625.53"
3,2023 - MACEIO - AL,2023,MACEIO - AL,"329,627,172,864.00","14,005,459.03"
4,2023 - MARECHAL DEODORO - AL,2023,MARECHAL DEODORO - AL,"40,891,342,848.00","63,114.63"